* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(91, 82, 0);
  background: linear-gradient(
    99deg,
    rgba(91, 82, 0, 1) 0%,
    rgba(182, 140, 0, 1) 57%,
    rgba(89, 75, 2, 1) 100%
  );
  font-family: 'Rye', cursive;
}

.blacklist {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.blacklist h1 {
  margin-top: 50px;
  font-size: 55px;
  color: darkred;
}

.blacklist h1 span {
  text-decoration: line-through;
  color: black;
}

.blacklist-container {
  background: rgb(80, 66, 9);
  background: linear-gradient(
    0deg,
    rgba(80, 66, 9, 0.9780287114845938) 0%,
    rgba(138, 107, 13, 1) 50%,
    rgba(71, 61, 5, 0.969625350140056) 100%
  );
  border: 3px solid black;
  position: absolute;
  width: 55%;
  min-height: 600px;
  margin-top: 900px;
  border-radius: 3%;
}

.add-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.add-input {
  background-color: transparent;
  border: none;
  font-family: 'Rye', cursive;
  border-bottom: 2px solid darkred;
  outline: none;
  margin: 10px;
  color: black;
  font-size: 20px;
  border-radius: 5%;
  text-transform: capitalize;
}

.add-input::placeholder {
  color: darkred;
  opacity: 0.5;
  font-family: 'Rye', cursive;
}

.form-button {
  margin-left: 30px;
  height: 40px;
  width: 150px;
  background: rgb(187, 51, 1);
  background: linear-gradient(
    270deg,
    rgba(187, 51, 1, 1) 0%,
    rgba(187, 132, 1, 1) 18%,
    rgba(187, 170, 1, 1) 96%,
    rgba(0, 0, 0, 1) 98%
  );
  border: 1px solid black;
  border-radius: 0 100% 100% 0;
  font-family: 'Rye', cursive;
  color: darkred;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  text-align: left;
  padding-left: 15px;
}
